*{
    font-family: ixi-type,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    padding: 0px;
    margin: 0;
}

.header{
    height: 70px;
    display: flex;
    border-bottom: 1px solid rgb(201, 201, 201);
    background-color:#fff ;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
    
}

.head{
    position: sticky;
    z-index: 10;
    top: 0;
}

.logo{
    align-content: center;
    position: absolute;
    left:30px;
    padding: 30px 0px;
}

.right{
    display: flex;
    /* align-content: center; */
    position: absolute;
    left: 1010px;
    gap:  70px;
}

.grp{
    align-items: center;
    display: flex;
    gap: 22px;
}

.right a{
    text-decoration: none;
    color: #000;
}

.grp a{
    display: flex;
    text-decoration: none;
    color: black;
}

.grp .fa-solid{
    position: relative;
    left: 10px;
}

.sinlog .fa-solid{
    position: relative;
    left: -15px;
    background-color: rgb(217, 235, 255);
    border-radius: 100%; 
    padding: 12px;
    color: rgb(7, 112, 228);
    /* background-color: rgba(124, 183, 246, 0.5); */
    cursor: pointer;
}

.grp i{
    color: rgb(126, 126, 126);
}

.grp i:hover{
    color: #000;
}


.main img{
    width: 60px;
    height: 60px;

}

.main a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    /* padding: 15px 20px; */
    font-size: 20px;
    gap: 4px;
    font-weight: 500;
    position: relative;
    top: 6px;
   
}

.main a:focus-within{
    border-bottom: 5px solid rgb(45, 126, 255);
    border-radius: 4px;
}

.main{
    display: flex;
    margin: 40px;
     gap: 25px;
     top: -10px;
     left: 10px;
     position: relative;
     
}

.anim{
    display: flex;
    gap: 7px;
    font-size: 15px;
    align-items: center;
    font-weight: 600;
}

#booking{
    display: flex;
    align-items: center;
    position: relative;
    left: 550px;
    font-weight: 400;
    font-size: 19px;
}

.box1 .a{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
    background-color: white;
}

.box1{
    display: grid;
    background-color: white;
    grid-template-columns: auto auto auto auto auto auto;
    border-radius: 20px;
    margin: 30px;
    box-shadow: 1px 1px 30px -20px;
    padding: 20px;
    height: 160px;
    margin-top: 0%;
    position: relative;
    bottom: 43px;
}

.click button{
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 17px;
    border-radius: 25px;
    border: 1px solid rgb(201, 201, 201);
    background-color: white;
    margin-right: 7px;
    cursor: pointer;
}

.click button:hover{
    background-color: #e2f8ff;
}

.button1:focus{
    color: rgb(45, 126, 255);
    border-color: rgb(45, 126, 255);
}

.button2:focus{
    color: rgb(45, 126, 255);
    border-color: rgb(45, 126, 255);
}


.from input{
    height: 59px;
    width: 298px;
    padding-left: 15px;
    font-size: 19px;
    background-color: #f6f6f6;
    border-color: white;
    border-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 9px;
}

.from input:hover{
    background-color: #ebebeb;
}

.to input{
    height: 59px;
    width: 295px;
    padding-left: 25px;
    font-size: 19px;
    background-color: #f6f6f6;
    border-color: white;
    border-style: none;
    margin-top: 9px;
}

.to input:hover{
    background-color: #ebebeb;
}


.to{
    position: relative;
    left: 3px;
}

.departure input{
    height: 59px;
    width: 184px;
    padding-left: 15px;
    font-size: 19px;
    background-color: #f6f6f6;
    border-color: white;
    border-style: none;
    align-items: center;
    margin-top: 9px;
}

.departure input:hover{
    background-color: #ebebeb;
}


.departure{
    position: relative;
    left: 5px;
}

.return input{
    height: 59px;
    width: 184px;
    padding-left: 15px;
    font-size: 19px;
    background-color: #f6f6f6;
    border-color: white;
    border-style: none;
    align-items: center;
    margin-top: 9px;
}

.return input:hover{
    background-color: #ebebeb;
}


.return{
    position: relative;
    left: 7px;
}

.travel label{
    display: flex;
    height: 59px;
    width: 205px;
    padding-left: 15px;
    font-size: 19px;
    background-color: #f6f6f6;
    border-color: white;
    border-style: none;
    align-items: center;
    margin-top: 9px;
}

.travel label:hover{
    background-color: #ebebeb;
}


.travel{
    position: relative;
    left: 10px;
}

.search a{
    display: flex;
    height: 59px;
    width: 130px;
    padding-left: 15px;
    font-size: 19px;
    background-color: #fc790d;
    /* background-color: #f6f6f6; */
    border-color: white;
    border-style: none;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 9px;
    margin-right: 10px;
    font-size: 25px;
    justify-content:space-evenly ;
}

.search a:hover{
    background-color: #db6c10;
}


.search{
    position: relative;
    left: 12px;
}

.a{
    display: flex;
    align-items: center;
    bottom: 3px;
    position: relative;
    margin-top: 10px;
}

.a .special{
    font-size: 17px;
    font-weight: 500;
}

.lowbut button{
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-radius: 25px;
    border: 1px solid rgb(126, 126, 126);
    background-color: white;
    margin-left: 15px;
    cursor: pointer;
    font-weight: 500; 
}

.lowbut button:hover{
    background-color: #ebebeb;
}

.lowbut button:focus{
    color: white;
    background-color: rgb(36, 114, 239)
}

.lowbut button:focus:hover{
    color: white;
    background-color: rgb(30, 80, 161)
}

.checkbox1 label{
    display: flex;
    align-items: center;
    position: relative;
    left: 160px;
}
 
.checkbox1 input{
    align-items: center;
    position: relative;
    top: 22px;
    left: 140px;
}

/* .checkbox1:focus-within{
    position: relative;
    background-color: #db6c10;
    left: 3px;
} */

.h{
    margin-left: 32px;
    font-size: 20px;
    position: relative;
    bottom: 35px;
}

.box2{
    display: flex;
    background-color: white;
    /* grid-template-columns: auto auto auto auto auto auto auto; */
    border-radius: 20px;
    margin: 30px;
    box-shadow: 1px 1px 30px -20px;
    padding: 20px;
    padding-left: 50px;
    height: 105px;
    margin-top: 0%;
    position: relative;
    bottom: 15px;
    justify-content: space-around;
}

.box2 img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    /* border-right : 2px solid black; */
}

.box2 img{
    height:auto;
    width: 40px;
}

.box2 a:hover{
    transform: scale(1.1);
}

.pic{
    position: relative;
    bottom: 3px;
    border-right : 1px solid black;
    padding-right: 40px;

}
.picc{
    border-right : 1px solid black;
    padding-right: 40px;
}


.flight{
    position: relative;
    top: 45px;
    right: 45px;
    
}

.credit{
    position: relative;
    top: 45px;
    right: 45px;
}

.book{
    position: relative;
    top: 45px;
    right: 40px;
}

.group{
    position: relative;
    top: 45px;
    right: 47px;
}

.airport{
    position: relative;
    top: 45px;
    right: 45px;
}

.plan{
    position: relative;
    top: 45px;
    right: 35px;
}

.fare{
    position: relative;
    top: 45px;
    right: 35px;
}

.hh{
    margin-left: 32px;
    font-size: 20px;
}

.offers{
    display: flex;
}

.offers button{
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-radius: 25px;
    border: 1px solid rgb(126, 126, 126);
    background-color: white;
    margin-left: 6px;
    cursor: pointer;
    font-weight: 500; 
}

.offers1{
    position: relative;
    left: 57rem;
}

.offers1 .lowview{
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 14px;
    border-radius: 5px;
    border: 0px solid rgb(126, 126, 126);
    background-color: white;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 500;
    color: #fc790d;
}

.offers1 button:hover{
    background-color: #ebebeb;
}

.offers1 button:focus{
    color: white;
    background-color: rgb(36, 114, 239)
}

.offers1 button:focus:hover{
    color: white;
    background-color: rgb(30, 80, 161)
}

.offers1 .lowview:hover{
    background-color: #fff5ee;
}

.offers1 .lowview:focus{
    color: #fc790d;
    background-color: #fff5ee00;
}

.offers1 .lowview:focus:hover{
    color: #fc790d;
    background-color: #fff5ee
}

.bot1{
    display: flex;
    overflow-x: auto;
    margin: 30px;
    margin-left: 20px;
    margin-top: 0;

}

.bot1 img{
    display: flex;
    border-radius: 20px;
    margin: 10px;
    margin-top: 30px;
    height: 180px;
    width: 295px;
    /* position: relative; */
}

.bot1 img:hover{
    box-shadow: 5px 5px 30px -20px;
    transition-duration: 0.4s;
}

